Attendance_Tracker/main.sqlite
Attendance_Tracker/env
Attendance_Tracker/Attendance.xlsx
Attendance_Tracker/Members.xlsx
Attendance_Tracker/Absences.xlsx
Competitive_Code/2024-2025/934Z_Main/.vscode/c_cpp_properties.json
Competitive_Code/2024-2025/934Z_Main/.vscode/settings.json
